.page-not-found {
    text-align: center;
    padding: 100px;
  }
  
  .page-not-found h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .page-not-found p {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .page-not-found a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }